@import url("../fonts/TTFirs-Regular/ttfirsregular.css")
@import url("../fonts/TTFirs-ExtraBold/ttfirsextrabold.css")
@import url("../fonts/TTFirs-Medium/style.css")
@import url("../fonts/TTFirs-Bold/style.css")
@import url("../fonts/Roboto/style.css")
@import url("../fonts/TTFirst-Light/style.css")
@import url("../fonts/TTFirst-Thin/style.css")

$regular: 'TT Firs', Regular 
$extrabold: 'TT Firs', ExtraBold 
$roboto: 'Roboto', Regular
$bold: 'TT Firs', Bold 
$medium: 'TT Firs', Medium
$light: 'TT Firs', Light
$thin: 'TT Firs', Thin

$white: #FFFFFF 




.flex
    display: flex