.compilation

    &__wrapper
        padding: 105px 5%
        background-color: #8F4099

        &-h1
            color: $white
            margin-bottom: 60px
        &-p
            color: $white
            margin-bottom: 80px
    
    &__inner
        display: grid
        grid-template-columns: 50% 50%
        grid-column-gap: 40px
        grid-row-gap: 80px

    &__item

        &-title
            align-items: center
            margin-bottom: 45px

            & div
                background-color: #06BCC1
                border-radius: 13px
                width: 95px
                height: 95px
                background-repeat: no-repeat
                background-position: center center

            
        &-title p
            @include bold
            font-size: 37px
            line-height: 43px
            color: $white
            margin-left: 25px
            
        & a
            display: block
            @include roboto
            font-size: 26px
            line-height: 35px
            text-decoration-line: underline
            color: $white
            margin-bottom: 15px

    &-btn
        background-color: #06BCC1
        border: 2px solid #06BCC1
        display: block
        margin: 70px auto 0 auto

        

        &:hover
            background-color: $white
            border: 2px solid $white
            color: #06BCC1
            transition: 0.4s


#compilation

    &-first
        background-image: url('../img/pulse.svg')

    &-second
        background-image: url('../img/diagnostic.svg')
    
    &-third
        background-image: url('../img/solutions.svg')
    
    &-fourth
        background-image: url('../img/health.svg')
    
    &-fifth
        background-image: url('../img/science.svg')