.nav
    background-color: #011225
    justify-content: space-around

    &_list
        display: flex
        align-items: center
        justify-content: space-around

    &_item
        color: $white
        list-style-type: none
        font:
            family: $thin
            size: 22px
        &::after
            content: ''
            margin-right: 31px