.trend
    padding: 105px 5%
    background-color: $white

    &__switch
        border: 2px solid #06BCC1
        border-radius: 7px

        display: flex;

        &-item
            padding: 27px 65px
            width: 50%
            justify-content: center
            align-items: center
            cursor: pointer

            &:first-child
                border-right: 2px solid #06BCC1

            & p
                @include bold
                font-size: 30px
                color: #06BCC1

            &-active
                background-color:#06BCC1
                transition: 0.4s 

            &-active p
                color: $white
                transition: 0.4s

    &__develop

        margin-top: 80px
        display: none

        & p
            @include medium
            font-size: 30px
            color: $black

        &-wrapper
            display: grid
            grid-template-columns: 40% 40%
            justify-content: space-between
            grid-row-gap: 40px
            margin-top: 50px

        &-item p:first-child
            @include bold
            font-size: 37px
            color:#089CA0
            margin-bottom: 20px
        
        &-item p:last-child
            @include roboto
            font-size: 25px
            line-height: 32px
            color: $black

    &__text-active
        display: block
            
@media (max-width: 700px)
    .trend

        &__switch
            flex-direction: column
            align-items: center
            background-image: url(../img/header__arrow.svg)
            border: 0px

            &-item
                width: 100%
                padding: 27px 0px
                background-image: url(../img/header__arrow.svg)
                background-repeat: no-repeat
                background-position: right center
                background-position-x: 550px
                display: none
                color: #06BCC1

                &-active
                    display: block

                    & p
                        text-align: center

        &__develop-wrapper
            grid-template-columns: 100%

@media (max-width: 500px)
    .trend__develop

        & p
            font-size: 20px

        &-item

            & p:first-child
                font-size: 28px

            & p:last-child
                font-size: 20px

    .trend__switch-item p
        font-size: 18px